{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<h1 class="text-center">Bienvenue sur mon site</h1>
<div class="container mt-3">
    <img src="{{asset('asset/images/home.jpg')}}" alt="Image accueil" class="img-fluid">
</div>
{% endblock %}