{% extends 'base.html.twig' %}

{% block title "Créer une catégory" %}

{% block body %}
<p>
    <a class="btn btn-dark btn-sm" href="{{path('category.index')}}"><img src="{{asset('asset/images/icons/arrow-left-short.svg')}}" alt="icon retour" class="img-fluid">Retour</a>
 </p>
<h1>Créer une nouvelle catégory</h1>

{{ form(form) }}

{% endblock %}